## Desafío

Hacer uso de la **técnica de imputación** para reemplazar los valores faltantes con valores sensibles.

Llenar los datos faltantes de la columna edad con la media de edad.

## Librerías

In [1]:
import pandas as pd

## Lectura de datos

In [2]:
df = pd.read_csv('empleados.csv', sep=';')
df.head()

,Nombre,Apellido,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,NaN,Masculino,Soltero(a),22.0,3.0,2423.0,No,Publicidad
1,Carlos,NaN,Masculino,Casado(a),38.0,10.0,3132.0,Sí,NaN
2,Felipa,NaN,Femenino,Soltero(a),26.0,5.0,2639.0,No,Comercial
3,Daniel,NaN,Masculino,Casado(a),35.0,10.0,3122.0,No,Comercial
4,John,NaN,Masculino,Casado(a),35.0,13.0,3431.0,Sí,Servicios al cliente

In [3]:
df = df.drop('Apellido', axis=1)
df.shape

(251, 8)

## Solución

In [4]:
df.isnull().sum()

Nombre           6
Sexo            37
Estado_Civil     4
Edad            61
Experiencia      4
Salario          6
Gerencia        21
Departamento    12
dtype: int64

In [5]:
# Llenamos los valores faltantes con la media para la columna 'Edad'
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())

In [6]:
df.isnull().sum()

Nombre           6
Sexo            37
Estado_Civil     4
Edad             0
Experiencia      4
Salario          6
Gerencia        21
Departamento    12
dtype: int64